
body {
  background-color:#bbe4e9;
  font-family: "Quando", serif;

}

a {
  color:#5585b5;
}

.weather-app {
  background:#61c7c7;
  max-width: 600px;
  margin: 45px auto; 
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  padding: 30px;
  border-radius: 15px;
}

header {
  border-bottom: 1px solid#53a8b6;
  padding: 0 0 40px 0;
}
.search-form-input{
background-color:#bbe4e9;
border: none;
border-radius: 7px;
font-size: 17px;
width: 84%;
padding: 15px 30px;
}
.search-form-button{
  background-color: #5585b5;
  padding: 15px 30px
  border: none;
  margin-left: 5px;
  border-radius: 7px;
  padding: 15px 20px;
  border: none;
  color: white;
}
footer {
  border-top: 1px solid#53a8b6;
  padding: 40px 0 0 0;
  text-align: center;
  font-size: 11px;
  color: rgba(0, 0, 0, 0.7)
}